* {
  margin: 0;
}

.main_container {
  margin: 0 auto;
}

.trip__container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 10px;
}

.trip__list {
  justify-content: space-between;
  border: 1px solid lightblue;
  padding: 10px;
}

.trip__details {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

.trip__detailsLoading {
  margin: 5px;
  flex: 1;
  border: 1px solid lightblue;
}

.trip__detailsOffloading {
  border: 1px solid lightblue;
  margin: 5px;
  flex: 1;
}

.trip__detailsMore {
  border: 1px solid lightblue;
  margin: 5px;
  flex: 1;
}

.trip__shares {
  border: 1px solid lightblue;
  margin: 5px;
  flex: 1;
}

.trip__detailsTitle {
  text-align: center;
}

@media (max-width: 900px) {
  .trip__details {
    flex-direction: column;
  }
}
